@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  /* background-color: cornflowerblue; */
  margin: 0;
}
/* header */
header {
  margin: 5%;
}
/* main part */
/* intro section */
.intro {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
button {
  background-color: slateblue;
  border-radius: 5px;
  padding: 3px 10px;
  color: white;
}
.picture {
  width: 440px;
  height: 414px;
}
/* colection section */
.collection {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
h2 {
  text-align: center;
  padding-bottom: 30px;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
}
.item {
  background-color: #ffff;
  box-shadow: 10px 10px 10px 10px rgba(174, 218, 218, 0.397);

  padding: 10px;

  width: 329px;
  height: 476px;
}
/* .fas fa-star, */
.fill {
  color: goldenrod;
}
/* .fas fa-star, */
.nofill {
  color: grey;
}

h5 {
  text-align: right;
  margin: 15px;
  padding: 25px;
  color: darkmagenta;
}
/* course section */
.course {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}
.detail {
  width: 404px;
  height: 270px;
}
course-pic {
  width: 404px;
  height: 270px;
}
/* section footer */
footer {
  margin: 0;
  height: 150px;
  background-color: slateblue;
  margin-top: 50px;
}
.footer-content {
  color: white;
  text-align: center;
}
.footer-content h2 {
  padding-bottom: 0px;
  padding-top: 20px;
}
.footer-content h6 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media only screen and (max-width: 688px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .course {
    display: flex;
  }
}
